[[computed]]
type = "prior_source"

[[xgas]]
xgas = "xluft"
gas = "luft"
gas_long = "dry air"
prior_profile = { type = "omit" }
prior_xgas = { type = "omit" }
ak = { type = "omit" }

[[xgas]]
xgas = "xco2_x2007"
gas = "co2"
gas_long = "carbon dioxide"
prior_profile = { type = "specified_if_first", private_name = "prior_1co2", public_name = "prior_co2" }
prior_xgas = { type = "specified_if_first", private_name = "prior_xco2_x2007", public_name = "prior_xco2" }
ak = { type = "specified_if_first", private_name = "ak_xco2" }
slant_bin = { type = "specified", private_name = "ak_slant_xco2_bin" }

[[xgas]]
xgas = "xco2_x2019"
gas = "co2"
gas_long = "carbon dioxide"
prior_profile = { type = "specified_if_first", private_name = "prior_1co2", public_name = "prior_co2" }
prior_xgas = { type = "specified_if_first", private_name = "prior_xco2_x2019", public_name = "prior_xco2" }
ak = { type = "specified_if_first", private_name = "ak_xco2" }
slant_bin = { type = "specified", private_name = "ak_slant_xco2_bin" }

[[xgas]]
xgas = "xwco2_x2007"
gas = "wco2"
gas_long = "carbon dioxide"
prior_profile = { type = "specified_if_first", private_name = "prior_1co2", public_name = "prior_co2" }
prior_xgas = { type = "specified_if_first", private_name = "prior_xwco2_x2007", public_name = "prior_xco2" }
ak = { type = "specified_if_first", private_name = "ak_xwco2" }
slant_bin = { type = "specified", private_name = "ak_slant_xwco2_bin" }

[[xgas]]
xgas = "xwco2_x2019"
gas = "wco2"
gas_long = "carbon dioxide"
prior_profile = { type = "specified_if_first", private_name = "prior_1co2", public_name = "prior_co2" }
prior_xgas = { type = "specified_if_first", private_name = "prior_xwco2_x2019", public_name = "prior_xco2" }
ak = { type = "specified_if_first", private_name = "ak_xwco2" }
slant_bin = { type = "specified", private_name = "ak_slant_xwco2_bin" }

[[xgas]]
xgas = "xlco2_x2007"
gas = "lco2"
gas_long = "carbon dioxide"
prior_profile = { type = "specified_if_first", private_name = "prior_1co2", public_name = "prior_co2" }
prior_xgas = { type = "specified_if_first", private_name = "prior_xlco2_x2007", public_name = "prior_xco2" }
ak = { type = "specified_if_first", private_name = "ak_xlco2" }
slant_bin = { type = "specified", private_name = "ak_slant_xlco2_bin" }

[[xgas]]
xgas = "xlco2_x2019"
gas = "lco2"
gas_long = "carbon dioxide"
prior_profile = { type = "specified_if_first", private_name = "prior_1co2", public_name = "prior_co2" }
prior_xgas = { type = "specified_if_first", private_name = "prior_xlco2_x2019", public_name = "prior_xco2" }
ak = { type = "specified_if_first", private_name = "ak_xlco2" }
slant_bin = { type = "specified", private_name = "ak_slant_xlco2_bin" }

[[xgas]]
xgas = "xhcl"
gas = "hcl"
gas_long = "hydrochloric acid"
ak = { type = "opt_inferred_if_first" }
traceability_scale = { type = "opt_inferred_if_first" }

[discovery]
excluded_xgas_variables = ["xo2"]
