[package]
name = "ggg-rs"
version = "0.1.0"
edition = "2021"
# Use the newer feature resolving algorithm
resolver = "2"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
approx = "0.5.1"
chrono = "0.4.23"
clap = {version = "4", features = ["derive"]}
ndarray = "0.15"
netcdf = "0.8"
# Could move behind a feature
plotly = { version = "0.8.3", features = ["kaleido"], optional=true }
thiserror = "1.0.48"

[features]
default = ["plotting"]
static = ["netcdf/static"]
plotting = ["dep:plotly"]

[lib]

[[bin]]
name = "bin2nc"

[[bin]]
name = "plot_spt"
required-features = ["plotting"]

#[[bin]]
#name = "plot_opus_spectra"
#required-features = ["plotting"]
