[package]
name = "ggg-rs"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = {version = "4", features = ["derive"]}
ndarray = "0.15"
netcdf = "0.7"
# Could move behind a feature
plotly = { version = "0.8.3", features = ["kaleido"] }

[features]
static = ["netcdf/static"]

[lib]

[[bin]]
name = "bin2nc"

[[bin]]
name = "plot_spt"