name: Deploy mdBook
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v2
        with:
          # 2026-02-11: 0.5+ is not yet compatible with mdbook-admonish, see https://github.com/tommilligan/mdbook-admonish/issues/233
          mdbook-version: '0.4.52'
          # mdbook-version: 'latest'
      - name: Install mdbook-admonish
        uses: baptiste0928/cargo-install@v3
        with:
          crate: mdbook-admonish
      - run: mdbook build "./book"
      - run: ls ./book/book/index.html
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: "./book/book"
